* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  line-height: 1.6;
  background: #121212;
  transition: background 0.3s, color 0.3s;
}

body.light-mode {
  background: #f5f5f5;
  color: #222;
}

header {
  background: #111;
  color: white;
  padding: 15px 35px;
  position: sticky;
  top: 0;
  transition: background 0.3s;
  z-index: 100000;
}
body.light-mode .logo {
  color: #000;
}
body.light-mode header {
  background: #f9f9f9;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-left: 20px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  cursor: pointer;
}
#darkModeToggle{
  cursor:pointer;
  text-decoration: none;
  background-color: transparent;
  border: none;
}
body.light-mode nav ul li a {
  color: #222;
}

.hero {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #000, #333);
  color: white;
  text-align: center;
}
.hero-content {
  display: flex;
  width: 90%;
  max-width: 1200px;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
   flex-wrap: wrap;
}
.hero-text {
   flex: 1;
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 1s forwards 0.2s;

}
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}
.hero-text span {
  color: #0ec8d2;
}
.hero-text p {
  font-size: 20px;
  margin-bottom: 20px;
}
.hero-text button, .cv-btn{
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  background: #0ec8d2;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s, background 0.3s;
}
.hero-text button:hover, .cv-btn:hover,.msg-btn:hover {
  transform: scale(1.05);
  background: #08a0b0;
}
.hero-image {
  flex: 1;
  display: flex;
  justify-content: center;
}
#typed-name::after {
  content: '|';
  margin-left: 2px;
  animation: blink 0.7s infinite;
}
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}
.hero-image img {
 width: 300px;         
  height: 300px;
  border-radius: 50%;     
  object-fit: cover;      
  border: 5px solid #0ec8d2; 
  box-shadow: 0 10px 30px rgba(236, 236, 236, 0.4);
  transition: transform 0.5s, box-shadow 0.5s;
  margin-left: 250px;
}
.hero-image img:hover {
  transform: scale(1.1) rotate(10deg);
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
}
.section {
  padding: 60px 40px;
  text-align: center;
}
#about h2, #projects h2,#projects h3, #contact h2{
 color: white;
}

#about p, #projects p{
  color: #f9f9f9d3;
}

body.light-mode #about h2{
  color: #000;
}
body.light-mode #about p {
  color: #222;
}
body.light-mode #projects h2{
  color: #000;
}
body.light-mode #projects p {
  color: #222;
}
body.light-mode #projects h3
{
   color: #000;
}
body.light-mode #contact h2
{
   color: #000;
}
body.light-mode #contact p {
  color: #222;
}


/* body.light-mode #about p, #projects p {
  color: #222;
} */

.projects-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 20px;
  margin-top: 30px;
}
.project-card {
  background: #1e1e1e;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  
}
.project-card {
  background: #1e1e1e;
  transition: transform 0.3s, box-shadow 0.3s, opacity 0.5s;
  cursor: pointer;
  transform: translateY(20px);
  border-radius: 10px;
  padding: 20px;
}

.project-card.show {
  opacity: 1;
  transform: translateY(0);
}

.project-card:hover {
  transform: translateY(-5px) scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
body.light-mode .project-card {
  background: #fff;
  color: #222;
}
form {
  max-width: 400px;
  margin: auto;
}
form input, form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}
body.light-mode form input, body.light-mode form textarea {
  background: #fff;
  color: #222;
  border: 1px solid #ccc;
}
form button {
  width: 100%;
  padding: 10px;
  background: #0ec8d2;
  color: white;
  border: none;
  cursor: pointer;
}
footer {
  background: linear-gradient(to top, #000, #333);
  color: white;
  text-align: center;
  padding: 15px;
}
body.light-mode footer {
   background: linear-gradient(to top, #000, #333);
  color: #fffbfb;
}
